# Environment
.env
*.env
venv*/
__pycache__/
*.pyc
.ea_proj/
# MacOS
.DS_Store

# Raw data (too large for git)
raw_data/
cache/
weather_*.csv

# dbt
target/
dbt_project/dbt_packages/
dbt_project/logs/

# Logs
logs/
*.log
dbt_project/.user.yml

# Raw/generated data
extract/cache/
extract/*.csv
.claude/
